header.user-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  /* background: #45ffa2; */
  background: #9dffd3;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
  /* margin-top: 5rem; makes space between the blue and green*/ 
}

.h2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  /* opacity: 0.8; */
}

h2 {
  margin-block-start: 0;
}